<app-offer-filter [idProduct]="offerID" [offerType]= "offerType" (filterResults)="onFilter($event)"></app-offer-filter>
<div class="card" style="margin-top: 90px;">
  <p-dataView #dv [value]="OffersList" [layout]="layout">
    <ng-template pTemplate="header">
      <div class="flex justify-content-end">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" src="../../assets/noimage.png"/>
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold text-900">{{ product.title }}</div>
              <div class="text-1xl text-900">Capacity: {{product.capacity}}</div> 
            </div>^
            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
              <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
              <p-button label="Reserve" styleClass="md:align-self-end mb-2" [rounded]="true" (click)="openOffer(product.id)"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
        <div class="p-4 border-1 surface-border surface-card border-round">
          <div class="flex flex-column align-items-center gap-3 py-5">
            <img class="w-9 shadow-2 border-round" src="../../assets/noimage.png"/>
            <div class="text-2xl font-bold">{{ product.title }}</div>
            <div class="text text-1xl">Capacity: {{product.capacity}}</div>
          </div>
          <div class="flex align-items-center justify-content-between">
            <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
            <p-button label="Reserve" [rounded]="true" (click)="openOffer(product.id)"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
