<div class="container">
  <h1>Hotel Offers</h1>
  <button (click)="showFilter = !showFilter" class="btn btn-secondary">Filtrar por</button>
  <div *ngIf="showFilter">
    <app-hotel-filter (filterResults)="onFilter($event)"></app-hotel-filter>
  </div>
  <!-- Muestra la tabla con los resultados del filtro -->
  <table class="table table-striped" *ngIf="HotelOffersList">
    <thead>
      <tr>
        <th>Hotel</th>
        <th>Description</th>
        <th>Price</th>
        <th>Agency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of HotelOffersList">
      <!--  <div (click)="showOfferDetails(offer)"></div>  -->
        <td>{{offer.productName}}</td>
        <td>{{offer.description}}</td>
        <td>{{offer.price}}</td>
        <td>{{offer.agencyName}}</td>
      </tr>
    </tbody>
  </table>
  <app-hotel-offer-details [offer]="selectedOffer" *ngIf="selectedOffer"></app-hotel-offer-details>
</div>
