<p-card header="Users" [style]="{ margin: '10px'}">
  <div class="grid">
    <div class="col-3">
      <p-button label="Create" icon="pi pi-plus-circle" [style]="{ width: '100%'}" (click)="redirectAgencyUser('Create')"></p-button>
    </div>
    <div class="col-3">
      <p-button label="Manage" icon="pi pi-file-edit" [style]="{ width: '100%'}" (click)="redirectAgencyUser('Manage')"></p-button>
    </div>
  </div>
</p-card>

<p-card header="Agencies" [style]="{ margin: '10px'}">
  <div class="grid">
    <div class="col-3">
      <p-button label="Create" icon="pi pi-plus-circle" [style]="{ width: '100%'}" (click)="redirectAgency('Create')"></p-button>
    </div>
    <div class="col-3">
      <p-button label="Manage" icon="pi pi-file-edit" [style]="{ width: '100%'}" (click)="redirectAgency('Manage')"></p-button>
    </div>
  </div>
</p-card>

<p-card header="Hotels" [style]="{ margin: '10px'}">
  <div class="grid">
    <div class="col-3">
      <p-button label="Create" icon="pi pi-plus-circle" [style]="{ width: '100%'}" (click)="redirectHotel('Create')"></p-button>
    </div>
    <div class="col-3">
      <p-button label="Manage" icon="pi pi-file-edit" [style]="{ width: '100%'}" (click)="redirectHotel('Manage')"></p-button>
    </div>
  </div>
</p-card>

<p-card header="Tours" [style]="{ margin: '10px'}">
  <div class="grid">
    <div class="col-3">
      <p-button label="Create" icon="pi pi-plus-circle" [style]="{ width: '100%'}" (click)="redirectTour('Create')"></p-button>
    </div>
    <div class="col-3">
      <p-button label="Manage" icon="pi pi-file-edit" [style]="{ width: '100%'}" (click)="redirectTour('Manage')"></p-button>
    </div>
  </div>
</p-card>

<p-card header="Flights" [style]="{ margin: '10px'}">
  <div class="grid">
    <div class="col-3">
      <p-button label="Create" icon="pi pi-plus-circle" [style]="{ width: '100%'}" (click)="redirectFlight('Create')"></p-button>
    </div>
    <div class="col-3">
      <p-button label="Manage" icon="pi pi-file-edit" [style]="{ width: '100%'}" (click)="redirectFlight('Manage')"></p-button>
    </div>
  </div>
</p-card>
