{{Pack.description }}
<br><br>
<p>StartDate: {{Pack.startDate | date:'yyyy-MM-dd' }}</p>
<p>EndDate: {{Pack.endDate | date:'yyyy-MM-dd' }}</p>
<p>Capacity: {{Pack.capacity}}</p>


<p style="font-size: 20px; font-weight: bold">Tours:</p>
<div class="card" style="margin-top: 40px;">
  <p-dataView [value]="tours" >
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
      <!--    <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'../../../../assets/' + product.image.filePath"/>-->
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold">{{product.sourceInfo.place.city}} - {{product.destinationInfo.place.city}}</div>
            </div>
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-1xl">From {{getDayOfWeek(product.sourceInfo.day)}} to {{getDayOfWeek(product.destinationInfo.day)}}</div>
            </div>
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-1xl">{{getDurationString(product.duration)}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <p style="font-size: 20px; font-weight: bold">Facilities:</p>
  <p-dataView [value]="facilities" >
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold">{{product.facility.name}}</div>
            </div>
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-1xl">From {{product.facility.description}}</div>
            </div>
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-1xl">${{product.price}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <p style="font-size: 20px; font-weight: bold">Hotels:</p>
  <p-dataView [value]="hotels" >
    <ng-template let-product pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold">{{product.name}}</div>
            </div>
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-1xl">{{getStars(product.category)}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
