      <div class="formgrid grid">
      <div class="field col">
        <span class="p-float-label">
          <p-inputNumber inputId="startPrice" id="startPrice" [(ngModel)]="startPrice"></p-inputNumber>
          <label htmlFor="category">Start Price</label>
        </span>
      </div>
      <div class="field col">
      <span class="p-float-label">
        <p-inputNumber inputId="endPrice" id="endPrice" [(ngModel)]="endPrice"></p-inputNumber>
        <label htmlFor="category">End Price</label>
      </span>
    </div>
    <div class="field col">
      <span class="p-float-label">
        <p-inputNumber inputId="capacity" id="capacity" [(ngModel)]="capacity"></p-inputNumber>
        <label htmlFor="category">Capacity</label>
      </span>
    </div>
    <div class="field col">
        <span class="p-float-label">
          <p-calendar [(ngModel)]="startDate"></p-calendar>
          <label htmlFor="startDate">Start Date</label>
        </span>
      </div>
      <div class="field col">
        <span class="p-float-label">
          <p-calendar [(ngModel)]="endDate"></p-calendar>
          <label htmlFor="endDate">End Date</label>
        </span>
      </div>
      <div class="field col">
        <button (click)="onSubmit()" class="p-button p-button-primary">Search</button>
      </div>
    </div>
  <!--

        <div class="formgrid grid">
      <div class="field col">
        <span class="p-float-label">
          <input pInputText id="hotelName" [(ngModel)]="name" style="width: 100%"/>
          <label htmlFor="hotelName">Hotel Name</label>
        </span>
      </div>
      <div class="field col">
        <span class="p-float-label">
          <input pInputText id="address" [(ngModel)]="address" style="width: 30vw"/>
          <label htmlFor="address">Address</label>
        </span>
      </div>
      <div class="field col">
        <span class="p-float-label">
          <p-inputNumber inputId="category" id="category" [(ngModel)]="category"></p-inputNumber>
          <label htmlFor="category">Category</label>
        </span>
      </div>
      <div class="field col">
        <button (click)="onSubmit()" class="p-button p-button-primary">Search</button>
      </div>
    </div>
  

  -->