<p-menubar>
  <ng-template pTemplate="start">
    <div class="field grid">
      <div class="field-col">
        <img src="../assets/logo.jpg" alt="Logo" class="logo" style="max-width:64px; margin-left: 50%"/>
      </div>
      <div class="field-col" style="margin-top: 25px">
        <label class="text-2xl font-bold" style="margin-left: 50%">Traveller</label>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="end">

    <table *ngIf="username; else login">
      <tr>
        <td>
          Hello <a href="#">{{username}}</a>!
        </td>
        <td>
          <label style="margin-left: 28px; margin-right: 10px;">|</label>
        </td>
        <td *ngIf="role != 'Tourist'">
          <p-button label="Staff Site" [routerLink]="'/StaffSite'" [text]="true" [rounded]="true"></p-button>
        </td>
        <td>
          <p-button label="Logout" (click)="logoutFun()" [text]="true" [rounded]="true"></p-button>
        </td>
      </tr>
    </table>

    <ng-template #login>
      <p-button label="Login" (click)="showDialogLogin()" [text]="true" [rounded]="true"></p-button>

      <p-button label="Register" (click)="showDialogRegister()" [text]="true" [rounded]="true"></p-button>


      <p-dialog header="Header" [(visible)]="visibleLogin" [modal]="true" (onHide)="dismissDialogLogin()">
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">Login</span>
        </ng-template>
        <br />
        <div class="formgrid grid">
          <div class="field col">
            <span class="p-float-label">
              <input pInputText id="email" [(ngModel)]="inputEmail" />
              <label htmlFor="email">Email</label>
            </span>
          </div>
          <div class="field col">
            <span class="p-float-label">
              <p-password [(ngModel)]="inputPassword" [toggleMask]="true" [feedback]="false"></p-password>
              <label for="password">Password</label>
            </span>
          </div>
        </div>
        <br />
        <label style="color: #ff0000">{{ errorLabel }}</label>
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="loginFun()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>

      <p-dialog header="Header" [(visible)]="visibleRegister" [modal]="true" (onHide)="dismissDialogRegister()">
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">Register</span>
        </ng-template>
        <br />
        <div class="field grid">
          <span class="p-float-label">
            <input pInputText id="name" [(ngModel)]="inputName" style="width: 280px;" />
            <label htmlFor="name">Name</label>
          </span>
        </div>
        <div class="field grid" style="margin-top: 22px;">
          <span class="p-float-label">
            <input pInputText id="nationality" [(ngModel)]="inputNationality" style="width: 280px;" />
            <label htmlFor="nationality">Nationality</label>
          </span>
        </div>
        <div class="field grid" style="margin-top: 22px;">
          <span class="p-float-label">
            <input pInputText id="email" [(ngModel)]="inputEmail" style="width: 280px;" />
            <label htmlFor="email">Email</label>
          </span>
        </div>
        <div class="field grid" style="margin-top: 22px;">
          <span class="p-float-label">
            <p-password [(ngModel)]="inputPassword" [toggleMask]="true" [feedback]="false"></p-password>
            <label for="password">Password</label>
          </span>
        </div>
        <label style="color: #ff0000">{{ errorLabel }}</label>
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="registerFun()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>

    </ng-template>
  </ng-template>
</p-menubar>

<br />

<div class="card flex justify-content-center">
  <p-tabMenu [model]="menuItems" [activeItem]="activeMenuItem" (activeItemChange)="onActiveMenuItemChange($event)"></p-tabMenu>
</div>

<div class="container" style="margin-top: 65px;">
  <router-outlet></router-outlet>
</div>
