<p-menubar>
  <ng-template pTemplate="start">
    <label>Travel Agencies</label>
  </ng-template>
  <ng-template pTemplate="end">
    <table *ngIf="username; else login">
      <tr>
        <td>
          <a href="#">{{username}}</a>
        </td>
        <td></td>
        <td>
          <p-button label="Logout" (click)="logoutFun()" [text]="true" [rounded]="true"></p-button>
        </td>
      </tr>
    </table>
    <ng-template #login>
      <p-button label="Login" (click)="showDialogLogin()" [text]="true" [rounded]="true"></p-button>

      <p-dialog header="Header" [(visible)]="visible" [modal]="true" (onHide)="dismissDialogLogin()">
        <ng-template pTemplate="header">
          <span class="text-xl font-bold">Login</span>
        </ng-template>
        <br />
        <table>
          <tr>
            <td>
              <span class="p-float-label">
                <input pInputText id="email" [(ngModel)]="inputEmail" />
                <label htmlFor="email">Email</label>
              </span>
            </td>
            <td></td>
            <td>
              <span class="p-float-label">
                <p-password [(ngModel)]="inputPassword" [toggleMask]="true" [feedback]="false"></p-password>
                <label for="password">Password</label>
              </span>
            </td>
          </tr>
        </table>
        <br />
        <label style="color: #ff0000">{{ errorLabel }}</label> 
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="loginFun()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>
    </ng-template>
  </ng-template>
</p-menubar>

<br/>

<div class="card flex justify-content-center">
  <p-tabMenu [model]="menuItems" [activeItem]="activeMenuItem" (activeItemChange)="onActiveMenuItemChange($event)"></p-tabMenu>
</div>
<div class="container" style="margin-top: 65px;">
  <router-outlet></router-outlet>
</div>



