<div class="field grid" style="margin-top: 22px;">
  <div class="col">
    <span class="p-float-label">
      <input pInputText id="name" [(ngModel)]="inputName"/>
      <label htmlFor="name">Name</label>
    </span>
</div>
  <div class="col">
    <span class="p-float-label">
      <p-dropdown [options]="roles" [(ngModel)]="inputRole" optionLabel="name" placeholder="Select a Role"></p-dropdown>
      <label htmlFor="role">Role</label>
    </span>
</div>
</div>
<div class="field grid" style="margin-top: 22px;">
  <div class="col">
    <span class="p-float-label">
      <input pInputText id="email" [(ngModel)]="inputEmail"/>
      <label htmlFor="email">Email</label>
    </span>
  </div>
  <div class="col">
  <span class="p-float-label">
    <p-password [(ngModel)]="inputPassword" [toggleMask]="true" [feedback]="false"></p-password>
    <label htmlFor="password">Password</label>
  </span>
  </div>
</div>
<div class="field grid" style="margin-top: 22px;" *ngIf="currentUserRole == 'TravellerAdmin'">
  <div class="col" *ngIf="inputRole?.role && inputRole?.role !== Role.TravellerAdmin">
    <span class="p-float-label">
      <p-inputNumber inputId="integeronly" [(ngModel)]="inputAgencyId"></p-inputNumber>
        <label htmlFor="email">Agency</label>
    </span>
  </div>
</div>

<label style="color: rgba(255,0,0,1)">{{ errorLabel }}</label>

<div class="card flex justify-content-end" style="margin-bottom: auto">
  <p-button icon="pi pi-check" label="Ok" styleClass="p-button-text" [style]="{ position: 'end' }"
            (click)="onOk()"></p-button>
</div>
