<app-flight-filtering (filterResults)="onFilter($event)"></app-flight-filtering>
<div class="card" style="margin-top: 90px;">
    <p-dataView [value]="FlightList" [layout]="layout">
      <ng-template pTemplate="header">
        <div class="flex justify-content-end">
          <p-dataViewLayoutOptions/>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
        <div class="col-12">
          <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
            <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" src="../../assets/noimage.png"/>
            <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <div class="text-2xl font-bold">{{product.source.city + ' - ' + product.destination.city}}</div>
                <div class="text-1xl font-bold">Airline: {{product.airline}} </div>
                <div style="display: flex" >
                </div>
                <div class="text-1xl">Flight: {{product.flightNumber }}</div>
              </div>
              <div class="flex flex-column align-items-center sm:align-items-start gap-3 sm:gap-2">
                <p-button label="See Offers" styleClass="md:align-self-end mb-2" [rounded]="true" (click)="openOfferList(product.id)"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="gridItem">
        <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
          <div class="p-4 border-1 surface-border surface-card border-round">
            <div class="flex flex-column align-items-center gap-3 py-5">
              <img class="w-9 shadow-2 border-round" src="../../assets/noimage.png"/>
              <div class="text-2xl font-bold">Flight Number: {{ product.flightNumber }}</div>
              <div style="display: flex" >
              </div>
              <div class="text-1xl">From {{getAddres(product.source) }} to {{getAddres(product.destination)}}</div>
             <div class="text -1x1">Airline: {{product.airline}}</div>
              <p-button label="See Offers" [rounded]="true" (click)="openOfferList(product.id)"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>