<div class="formgrid grid">
    <div class="col">
        <span class="p-float-label">
          <p-dropdown [options]="days" [(ngModel)]="startDay" optionLabel="name" placeholder="Select a Day"></p-dropdown>
          <label htmlFor="role">Start day</label>
        </span>
    </div>
    <div class="field col">
        <span class="p-float-label">
          <input pInputText id="source" [(ngModel)]="source"/>
          <label htmlFor="source">Source</label>
        </span>
      </div>
    <div class="field col">
      <span class="p-float-label">
        <input pInputText id="destination" [(ngModel)]="destination"/>
        <label htmlFor="destination">Destination</label>
      </span>
    </div>
    <div class="field col">
      <span class="p-float-label">
        <p-inputNumber inputId="duration" id="duration" [(ngModel)]="duration"/>
        <label htmlFor="duration">Duration</label>
      </span>
    </div>
    <div class="field col">
      <button (click)="onSubmit()" class="p-button p-button-primary">Search</button>
    </div>
    </div>
