    <div class="formgrid grid">
      <div class="field col">
        <span class="p-float-label">
          <input pInputText id="hotelName" [(ngModel)]="name" style="width: 100%"/>
          <label htmlFor="hotelName">Hotel Name</label>
        </span>
      </div>
      <div class="field col">
        <span class="p-float-label">
          <input pInputText id="address" [(ngModel)]="address" style="width: 30vw"/>
          <label htmlFor="address">Address</label>
        </span>
      </div>
      <div class="field col">
        <span class="p-float-label">
          <p-inputNumber inputId="category" id="category" [min]="1" [max]="5" [(ngModel)]="category"  ></p-inputNumber>
          <label htmlFor="category">Category</label>
        </span>
      </div>
      <div class="field col">
        <button (click)="onSubmit()" class="p-button p-button-primary">Search</button>
      </div>
    </div>
  
