
<div *ngIf="this.config.data['offerName'] != 'Package'" class="field grid" style="margin-top: 22px; margin-left: 1px;">
  <table>
    <tr>
      <td>
        <span class="p-float-label">
          <p-autoComplete [(ngModel)]="selectedModel" field="name" [suggestions]="suggestions" (completeMethod)="searchModel($event)" inputId="selectModel">
            <ng-template let-product pTemplate="item">
              {{ product.name }}
            </ng-template>
          </p-autoComplete>
          <label for="selectModel">Select Product</label>
        </span>
      </td>
      <td>
        <p-button icon="pi pi-plus-circle" size="large" [text]="true" (click)="addNewProduct()" [rounded]="true" severity="secondary"></p-button>
      </td>
    </tr>
  </table>
</div>

<div class="formgrid grid" style="margin-top: 24px; margin-left: 1px; width: 100%;">
  <span class="p-float-label" style="width: 100%;">
    <input pInputText id="title" [(ngModel)]="inputTitle" style="width: 100%;"/>
    <label htmlFor="title">Title</label>
  </span>
</div>

<div class="formgrid grid" style="margin-top: 28px;">
  <div class="field col">
    <div class="p-inputgroup">
      <input type="text" [(ngModel)]="inputStartDate" [disabled]="true" pInputText placeholder="Start Date" [style]="{ width: '17vw' }"/>
      <span class="p-inputgroup-addon" (click)="openCalendarDialog('StartDate')">
        <i class="pi pi-pencil"></i>
      </span>
    </div>
  </div>
  <div class="field col">
    <span class="p-float-label">
      <p-inputNumber inputId="price" [(ngModel)]="inputPrice" mode="currency" currency="USD" locale="en-US" [style]="{ width: '20vw' }"> </p-inputNumber>
      <label htmlFor="price">Price</label>
    </span>
  </div>
</div>

<div class="formgrid grid" style="margin-top: 10px;">
  <div class="field col">
    <div class="p-inputgroup">
      <input type="text" [(ngModel)]="inputEndDate" [disabled]="true" pInputText placeholder="End Date" [style]="{ width: '17vw' }"/>
      <span class="p-inputgroup-addon" (click)="openCalendarDialog('EndDate')">
        <i class="pi pi-pencil"></i>
      </span>
    </div>
  </div>
  <div class="field col">
    <span class="p-float-label">
      <p-inputNumber inputId="capacity" [(ngModel)]="inputCapacity" [style]="{ width: '20vw' }"> </p-inputNumber>
      <label htmlFor="capacity">Capacity</label>
    </span>
  </div>
</div>

<div class="field grid" style="margin-top: 22px; margin-left: 1px; width: 100%;">
  <span class="p-float-label" style="width: 100%;">
    <textarea id="description" [(ngModel)]="inputDescription" rows="5" [style]="{ width: '100%' }" pInputTextarea></textarea>
    <label for="description">Description</label>
  </span>
</div>

<p-card *ngIf="this.config.data['offerName'] == 'Package'">
  <div class="formgrid grid" style="margin-bottom: 25px;">
    <span class="p-float-label">
      <input pInputText id="searchTour" [(ngModel)]="queryTour" (ngModelChange)="searchTours(queryTour)"/>
      <label htmlFor="searchTour">Search Tour by Source</label>
    </span>
  </div>

    <p-pickList baseZIndex="2000" [source]="sourceTours" [target]="targetTours" sourceHeader="Tours" targetHeader="Selected" [dragdrop]="true" [responsive]="true"
                [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px">
      <ng-template let-tour pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <img class="w-4rem shadow-2 flex-shrink-0 border-round" [src]="'../../../assets/' + 'Images/(1)abc.png'" [alt]="'image'" />
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ tour.sourceInfo.place.city }} - {{ tour.destinationInfo.place.city }}</span>
            <div class="flex align-items-center gap-2">
              <span>{{ getDurationString(tour.duration) }}</span>
            </div>
          </div>
          <span class="font-bold text-900">{{ tour.id }}</span>
        </div>
      </ng-template>
    </p-pickList>
  
</p-card>
<br/>
<p-card *ngIf="this.config.data['offerName'] == 'Package'">
  <div class="formgrid grid" style="margin-bottom: 25px;">
    <span class="p-float-label">
      <input pInputText id="searchFacility" [(ngModel)]="queryFacility" (ngModelChange)="searchFacilities(queryFacility)" />
      <label htmlFor="searchFacility">Search by Name</label>
    </span>
  </div>

  <p-pickList baseZIndex="2000" [source]="sourcePFacilities" [target]="targetPFacilities" sourceHeader="Facilities" targetHeader="Selected" [dragdrop]="true" [responsive]="true"
              [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px">
    <ng-template let-pf pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ pf.facility.name }}</span>
          <div class="flex align-items-center gap-2">
            <span>{{ pf.facility.description }}</span>
          </div>
          <p-inputNumber [(ngModel)]="pf.price" mode="currency" currency="USD" locale="en-US" placeholder="Price"></p-inputNumber>
        </div>
        <span class="font-bold text-900">{{ pf.facility.id }}</span>
      </div>
    </ng-template>
  </p-pickList>

</p-card>

<div class="formgrid grid" style="margin-top: 10px;">
  <div class="field col">
    <p-fileUpload [disabled]="disableUpload" mode="basic" accept="image/*" [maxFileSize]="1000000" [auto]="true" [customUpload]="true" (uploadHandler)="myUploader($event)" [chooseLabel]="imageId ? 'Change Image' : 'Upload Image'"></p-fileUpload>
  </div>
  <div class="field col">
    <p-button *ngIf="imageId" (click)="ViewImage()" icon="pi pi-eye" [rounded]="true" [text]="true"></p-button>
  </div>
</div>

<img *ngIf="viewImage" [alt]="imageName" class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'../../../assets/' + imagePath" />

<label style="color: #ff0000">{{ errorLabel }}</label>

<div class="card flex justify-content-end">
  <p-button icon="pi pi-check" label="Ok" styleClass="p-button-text" [style]="{ position: 'end' }" (click)="onOk()"></p-button>
</div>

<p-toast position="center" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
